  <%- include("partials/profile-shared")%>

  <div class="list-group">
    <% linkedProfiles.forEach(function(profile) { %>
      <a href="/profile/<%= profile.username %>" class="list-group-item list-group-item-action">
        <img class="avatar-tiny" src="<%= profile.gravatar %>">
        <%= profile.username %>
      </a>
    <% }) %>
  </div>

<%- include('partials/footer') %>
